body {
    font-size: 24px;
    margin: 1;
    background-image: url('img/space.jpg');
}

form {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #CCA25F;
    color: #ffffff;
    width: 400px;
    height: 200px;
    padding: 20px;
    border: solid;
}

button {
    background: #C16A00;
    color: #703B00;
    width: 400px;
    height: 50px;
    border: solid;
    border-color: #703B00;
    font-size: 18px;
}

